.AddComm {
  width: 1040px;
  margin: 3% 3%;
}

.AddComm .title {
  font-weight: 800;
}

.AddComm .post {
  margin: 3rem 0;
}

.AddComm .category-postName {
  display: flex;
}

.AddComm .post select{
  width: 15%;
  border: 1px solid lightgray;
  border-bottom: none;
  outline: none;
  text-align: center;
  height: 2.5rem;
}

.AddComm .post input{
  width: 85%;
  border: 1px solid lightgray;
  border-bottom: none;
  outline: none;
  padding-left: 1rem;
  height: 2.5rem;
}

.AddComm .submit-comm-btn{
  width: 100%;
  margin-top: 1rem;
  padding: 0.7rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  background-color: rgb(164, 114, 255);
  color: white;
}

.AddComm .quill {
  text-align: left;
}

@media screen and (max-width: 600px){
  .AddComm .category-postName {
  flex-direction: column;
}
.AddComm .post select {
  width: 100%;
  text-align: left;
  padding-left: 0.8rem;
}
.AddComm .post input {
  width: 100%;
}
}
