.Community {
  width: 100%;
}

/* 배너 */
.Community .banner {
  padding: 3.5rem;
  height: 15rem;
  background-image: url(../Img/community.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.Community .title {
  color: white;
  font-size: 28px;
  font-weight: 500;
}

.Community .searchBar {
  margin-top: 1.5rem;
  width: 20rem;
  height: 2.7rem;
  line-height: 2.7rem;
  background-color: white;
  border-radius: 5px;
  margin: 30px auto;
  font-size: larger;
}

.Community .search-input {
  margin: 0;
}

.Community .icon-typeBtn-box {
  width: 1040px;
  margin: auto;
  padding: 0.5rem;
}

/* 리스트, 그리드 아이콘 */
.Community .icon {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  cursor: pointer;
}


/* 버튼 */
.Community .typBtn-box {
  border: none;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.Community .typBtn-box .typeBtn {
  border: none;
  border-radius: 5px;
  width: 7rem;
  height: 2.5rem;
  font-weight: 400;
  background-color: white;
  color: lightgray;
}

.Community .typBtn-box .clicked {
  border: none;
  border-radius: 5px;
  width: 7rem;
  height: 2.5rem;
  font-weight: 400;
  background-color: #8F7BE0;
  color: white;
}

/* list 게시물 */

.Community .tbl {
  margin: 60px auto 0 auto;
  width: 65rem;
}

.Community ul {
  margin: 0;
  padding: 0;
}

.Community li {
  list-style-type: none;
}

.Community .tbl .th {
  display: flex;
  padding-bottom: 15px;
  border-bottom: 2px solid lightgray;
  font-size: 1rem;
  font-weight: 600;
}

.Community .tbl .td {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid rgb(243, 242, 242);
  cursor: pointer;
}

.Community .no {
  width: 4rem;
}

.Community .category {
  width: 7rem;
}

.Community .postTitle {
  width: 30rem;
}

.Community .tbl .td .postTitle {
  text-align: left;
  padding-left: 30px;
}

.Community .author {
  width: 14rem;
}

.Community .date {
  width: 7rem;
}

.Community .view {
  width: 4rem;
}




/* grid 게시물 */
.Community .grid-comm {
  /* width: 1040px;
  margin: 5rem auto 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  column-gap: 2.5rem;
  text-align: left; */

  width: 1040px;
  margin: 5rem auto 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.Community .card-type {
  padding: 20px;
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.2);
  border-radius: 1.7rem;
  margin-bottom: 2rem;

  width: 100%;
  height: 100%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  text-align: left;
  cursor: pointer;
}

.Community .card-header,
.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Community .card-header {
  height: 3rem;
}

.Community .card-header .inner2,
.card-footer .inner1 {
  color: #C7C7C7;
  font-size: 0.8rem;
}

.Community .card-header .inner1,
.card-body>div:nth-child(1) {
  font-weight: 600;
}

.Community .card-body {
  height: 20rem;
  margin: 10px 0;
}

.Community .card-body img {
  /* border-radius: 10px;
  margin: 12px 0;
  height: 13rem;
  width: 17.5rem; */

  width: 100%;
  aspect-ratio: 1.5;
  margin: 12px 0;
  background-size: cover;
  border-radius: 13px;
  position: relative;
}

.Community .card-footer {
  height: 5rem;
}

.Community .card-footer .inner2 {
  background-color: rgb(243, 242, 242);
  padding: 5px;
  width: auto;
  height: 1.5rem;
  font-size: 0.8rem;
  border-radius: 5px;
  color: rgb(180, 180, 180);
}

.Community .card-footer img {
  width: 1.5rem;
  margin: 0 5px 0px 10px;
}

/* 페이징 */
.Community .paging nav {
  margin: 70px auto 0 auto;
  color: #8F7BE0;
}

















@media screen and (max-width: 1080px) {

  .Community .icon-typeBtn-box {
    width: 100%;
  }

  .Community .tbl {
    width: 100%;
  }

  .Community .grid-comm {
    grid-template-columns: repeat(2, 20rem);
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .Community .searchBar {
    width: 17rem;
  }
}

@media screen and (max-width: 780px) {
  .Community .tbl {
    margin: 30px auto 0 auto;
    font-size: 0.8rem;
  }

  .Community .tbl .th,
  .Community .tbl .td .no,
  .Community .tbl .td .view {
    display: none;
  }


  .Community .tbl .td {
    width: auto;
    display: grid;
    grid-template-areas:
      "title title title title"
      "category author date .";
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content);
    text-align: left;
    row-gap: 10px;
  }

  .Community .tbl .td .postTitle {
    grid-area: title;
  }

  .Community .tbl .td.category {
    grid-area: category;
  }

  .Community .tbl .td .author {
    grid-area: author;
  }

  .Community .tbl .td .date {
    grid-area: date;
  }

  .Community .tbl .td .category {
    width: auto;
    padding-left: 1rem;
  }

  .Community .tbl .td .author,
  .Community .tbl .td .date {
    width: auto;
    padding-left: 0.4rem;
    font-size: 0.8rem;
    color: rgb(94, 94, 94);
  }

  .Community .tbl .td .postTitle {
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 600;
  }

}

@media screen and (max-width: 720px) {
  .Community .grid-comm {
    grid-template-columns: repeat(1, 23rem);
    width: 70%;
  }
}

@media screen and (max-width: 431px) {

  .Community .tbl .td .postTitle {
    font-size: 0.9rem;
  }

  .Community .grid-comm {
    width: 72%;
    grid-template-columns: repeat(1, 19rem);
  }

  .Community .card-type {
    margin: 0 auto 2rem auto;
  }
}