.Community {
  width: 100%;
}

/* 배너 */
.Community .banner {
  padding: 3.5rem;
  height: 15rem;
  background-image: url(../Img/community.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.Community .title {
  color: white;
  font-size: 28px;
  font-weight: 500;
}

.Community .searchBar {
  margin-top: 1.5rem;
  width: 20rem;
  height: 2.7rem;
  line-height: 2.7rem;
  background-color: white;
  border-radius: 5px;
  margin: 30px auto;
  font-size: larger;
}

.Community .search-input {
  margin: 0;
}

/* 리스트, 그리드 아이콘 */
.Community .icon {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  padding-right: 27rem;
  cursor: pointer;
}


/* 버튼 */
.Community .btn {
  border: none;
}

.Community .btn .typeBtn {
  border: none;
  border-radius: 5px;
  margin: 2rem 2rem 0 0;
  width: 120px;
  height: 45px;
  font-weight: 400;
  background-color: white;
  color: lightgray;
}

.Community .btn .clicked {
  border: none;
  border-radius: 5px;
  margin: 2rem 2rem 0 0;
  width: 120px;
  height: 45px;
  font-weight: 400;
  background-color: #8F7BE0;
  color: white;
}

/* list 게시물 */

.Community .tbl {
  margin: 60px auto 0 auto;
  width: 65rem;
}

.Community .tbl th {
  padding-bottom: 15px;
  border-bottom: 2px solid lightgray;
  font-size: 15px;
}

.Community .tbl td {
  padding: 15px 0;
  border-bottom: 1px solid rgb(243, 242, 242);
  /* #E7E7E7 */
}

.Community .tbl th:nth-child(2),
td:nth-child(2) {
  width: 138px;
}

.Community .tbl td:nth-child(3) {
  text-align: left;
  padding-left: 10px;
}

/* grid 게시물 */
.Community .grid-comm {
  width: 65rem;
  margin: 5rem auto 0 auto;
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  text-align: left;
}

.Community .card-type {
  padding: 20px;
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.2);
  border-radius: 1.7rem;
  margin-bottom: 2rem;
}

.Community .card-header,
.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Community .card-header {
  height: 3rem;
}

.Community .card-header .inner2,
.card-footer .inner1 {
  color: #C7C7C7;
  font-size: 0.8rem;
}

.Community .card-header .inner1,
.card-body>div:nth-child(1) {
  font-weight: 600;
}

.Community .card-body {
  height: 20rem;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px; */
  margin: 10px 0;
}

.Community .card-footer {
  height: 5rem;
}

.Community .card-footer .inner2 {
  background-color: rgb(243, 242, 242);
  padding: 5px;
  width: auto;
  height: 1.5rem;
  font-size: 0.8rem;
  border-radius: 5px;
  color: rgb(180, 180, 180);
}

.Community .card-footer img {
  width: 1.5rem;
  margin: 0 5px 0px 10px;
}

/* 페이징 */
.Community .paging nav {
  margin: 70px auto 0 auto;
  color: #8F7BE0;
}


























@media screen and (max-width: 431px) {

  .Community .searchBar {
    width: 12rem;
  }

  .Community .icon {
    padding-right: 1rem;
  }

  .Community .btn .typeBtn {
    margin: 10px auto 0 auto;
    width: 80px;
  }

  .Community .btn .clicked {
    margin: 10px auto 0 auto;
    width: 80px;
    height: 30px;
    font-weight: 400;
  }

  .Community .tbl {
    margin: 60px auto 0 auto;
    width: 100%;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 650px) {
  .Community .searchBar {
    width: 17rem;
  }

  .Community .icon {
    padding-right: 2rem;
  }

  .Community .btn .typeBtn {
    margin: 10px;
    width: 100px;
  }

  .Community .btn .clicked {
    margin: 10px;
    width: 100px;
  }

  .Community .tbl {
    margin: 30px auto 0 auto;
    width: 100%;
  }

  .Community .tbl th:nth-child(2),
  td:nth-child(2) {
    width: auto;
  }

}

@media screen and (max-width: 780px) {
  .Community .searchBar {
    width: 17rem;
  }

  .Community .icon {
    padding-right: 3.5rem;
  }

  .Community .btn .typeBtn {
    width: 110px;
  }

  .Community .btn .clicked {
    width: 110px;
  }

  .Community .tbl {
    width: 100%;
  }

  .Community .tbl th:nth-child(2),
  td:nth-child(2) {
    width: auto;
  }

}

/* @media screen and (min-width: 781px) {
  .Community .searchBar {
    width: 17rem;
  }

  .Community .icon {
    padding-right: 3.5rem;
  }

  .Community .btn .typeBtn {
    width: 110px;
  }

  .Community .btn .clicked {
    width: 110px;
  }

  .Community .tbl {
    width: 100%;
  }

  .Community .tbl th:nth-child(2),
  td:nth-child(2) {
    width: auto;
  }

} */

@media screen and (max-width: 1060px) {
  .Community .searchBar {
    width: 20rem;
  }

  .Community .icon {
    padding-right: 3.5rem;
  }

  .Community .tbl {
    width: 100%;
  }
}
