.Community {
  width: 100%;
}

/* 배너 */
.Community .banner {
  padding: 3.5rem;
  height: 15rem;
  background-image: url(../Img/community.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.Community .title {
  color: white;
  font-size: 28px;
  font-weight: 500;
}

.Community .searchBar {
  margin-top: 1.5rem;
  width: 20rem;
  height: 2.7rem;
  line-height: 2.7rem;
  background-color: white;
  border-radius: 5px;
  margin: 30px auto;
  font-size: larger;
}

.Community .search-input {
  margin: 0;
}

/* 리스트, 그리드 아이콘 */
.Community .icon {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  padding-right: 23%;
}


/* 버튼 */
.Community .btn {
  border: none;
}

.Community .btn .typeBtn {
  border: none;
  border-radius: 5px;
  margin: 2rem 2rem 0 0;
  width: 120px;
  height: 45px;
  font-weight: 400;
  background-color: white;
  color: lightgray;
}

.Community .btn .clicked {
  border: none;
  border-radius: 5px;
  margin: 2rem 2rem 0 0;
  width: 120px;
  height: 45px;
  font-weight: 400;
  background-color: #8F7BE0;
  color: white;
}

/* 게시물 */

.Community .tbl{
 margin: 60px auto 0 auto;
 width: 65rem;
}

.Community .tbl th{
  padding-bottom: 15px;
  border-bottom: 2px solid lightgray;
  font-size: 15px;
}

.Community .tbl td {
  padding: 15px 0;
  border-bottom: 1px solid rgb(243, 242, 242); 
  /* #E7E7E7 */
}

.Community .tbl th:nth-child(2), td:nth-child(2) {
  width: 138px;
}

.Community .tbl td:nth-child(3) {
  text-align: left;
  padding-left: 10px;
}

/* 페이징 */
.Community .paging nav {
  margin: 70px auto 0 auto;
  color: #8F7BE0;
}
