.CommReply .postReply {
  text-align: left;
}

.CommReply .replyTittle {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 40px 0 10px 0;
}

.CommReply .writeReply {
  width: 1040px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(243, 242, 242);
}

.CommReply .replyInput {
  /* width: 58rem; */
  width: 88%;
  height: auto;
  resize: none;
  padding: 3px 10px;
  vertical-align: bottom;
  border: 1px solid rgb(214, 213, 213);
}

.replyInput:focus{
  outline: none;
  border: 1px solid #8F7BE0;
}

.CommReply .replyBtn {
  border: 1px solid #8F7BE0;
  border-radius: 5px;
  background-color: #8F7BE0;
  color: azure;
  /* width: 6rem; */
  width: 10%;
  height: 3.5rem;
  margin-left: 2%;

}

.CommReply .getReply {
  border-bottom: 1px dashed rgb(243, 242, 242);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CommReply .getReply-leftBox {
  width: 90%;
}

.CommReply .nickName-date {
  display: flex;
}

.CommReply .nickName-date img {
  height: 22px;
  margin-right: 5px;
}


.CommReply .nickName {
  font-weight: 500;
}

.CommReply .date {
  color: #7c7c7c;
  margin-left: 5px;
} 

.CommReply .Content, .reply-update-delete {
  margin-top: 10px;
  text-align: left;
}

.CommReply .isAuthTrue > button {
  border: none;
  border-bottom: 1px solid rgb(240, 240, 240);
  background-color: white;
  margin: 5px;
}

.CommReply .delete {
  width: auto;
  height: 25px;
  font-size: 0.8rem;
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  background-color: white;
  margin: 5px;
  padding: 0 10px;
}

.CommReply .update {
  width: auto;
  height: 25px;
  font-size: 0.8rem;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 5px;
  color: rgb(182, 182, 182);
  background-color: white;
  margin: 5px;
  padding: 0 10px;
}

.CommReply .likeCnt {
  text-align: center;
  color: gray;
}

@media screen and (max-width: 1060px) {
  .CommReply .writeReply {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .CommReply .replyBtn {
    height: 3rem;
  }
}

@media screen and (max-width: 780px) {
  .CommReply .replyInput { 
    width: 86%;
  }

  .CommReply .replyBtn {
    width: 12%;
  }
}


@media screen and (max-width: 550px){
  .CommReply .replyInput { 
    width: 83%;
  }

  .CommReply .replyBtn {
    width: 15%;
  }
}