.CommReply .postReply {
  text-align: left;
}

.CommReply .replyTittle {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 40px 0 10px 0;
}

.CommReply .writeReply {
  /* margin-bottom: 30px; */
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(243, 242, 242);
}

.CommReply .replyInput {
  width: 58rem;
  height: auto;
  resize: none;
  padding: 3px 10px;
  vertical-align: bottom;
  border: 1px solid rgb(214, 213, 213);
}

.CommReply .replyBtn {
  border: 1px solid #8F7BE0;
  border-radius: 5px;
  background-color: #8F7BE0;
  color: azure;
  width: 6rem;
  height: 3.5rem;
  margin-left: 12px;

}

.CommReply .getReply {
  border-bottom: 1px dashed rgb(243, 242, 242);
  padding: 20px;
}

.CommReply .nickName-date {
  display: flex;
}

.CommReply .nickName {
  font-weight: 500;
}

.CommReply .date {
  /* font-size: 0.9rem; */
  /* line-height: 1.5rem; */
  color: #7c7c7c;
  margin-left: 5px;
} 

.CommReply .Content {
  margin-top: 10px;
}

.CommReply .aa {
  display: flex;
  justify-content: flex-end;
}

.CommReply .aa > button {
  border: none;
  background-color: none;

}