.top5 {
  background-color: #7E57C20A;
}

.top5 .hot-icon {
  width: 2.8rem; 
  height: 1.5rem; 
  margin-right: 10px; 
}

.top5 .postTitle {
  color: #7E57C2;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  padding-left: 30px;
}

@media screen and (max-width: 431px) {
  .top5 .hot-icon {
    width: 1.8rem; 
    height: 0.5rem; 
    margin-right: 10px; 
  }

  .top5 .postTitle {
    font-size: 12px;
    font-weight: 700;
  }
}

@media screen and (max-width: 650px) {
  .top5 .hot-icon {
    width: 2.3rem; 
    height: 1.2rem; 
    margin-right: 10px; 
  }

  .top5 .postTitle {
    font-size: 14px;
    font-weight: 700;
  }
}