

.MoimDetailBoard-Comm-WriteBox-btn{
  margin-top: 1rem;
  padding: 0.7rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  background-color: rgb(164, 114, 255);
  color: white;
}

.MoimDetailBoard-Comm-WriteBox-btn:disabled{
  background-color: #eaebee;
  border: 1px solid #eaebee;
  color: rgb(146, 146, 146);
}


@media screen and (max-width: 760px){
  .MoimDetailBoard-Comm-WriteBox-Header{
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
  }
  .MoimDetailBoard-Comm-WriteBox-Header input{
    padding-left: 0.3rem;
  }
  .MoimDetailBoard-Comm-WriteBox-btn{
    border-radius: 0;
  }
}

@media screen and (max-width:1070px){
  .moimCommCustomMargin{
    padding: 0 1.5% ;
  }
}
