.InquiryWrite .post select {
  width: 100%;
  height: 2.5rem;
  border: 1px solid lightgray;
  outline: none;
  text-align: left;
  padding: 0 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.InquiryWrite .post .title {
  border: 1px solid lightgray;
  border-bottom: none;
  outline: none;
  padding: 1rem;
  margin: 0;
  height: 2.5rem;
  width: 100%;
  display: flex;

}

.InquiryWrite .post .title input {
  width: 95%;
  border: none;
  outline: none;
}

.InquiryWrite .post .title div {
  width: 5%;
  color: #929292;
}

.InquiryWrite .content {
  border: 1px solid lightgray;
  outline: none;
  width: 100%;
  height: 30rem;
  padding: 1rem;
  resize: none;
}

.InquiryWrite .submit-comm-btn {
  width: 100%;
  margin-top: 1rem;
  padding: 0.7rem;
  border-radius: 0.7rem;
  outline: none;
  border: none;
  background-color: rgb(164, 114, 255);
  color: white;
}

@media screen and (max-width: 1070px) {
  .InquiryWrite .title {
    margin: 0 3%;
  }
}

@media screen and (max-width: 600px) {
  .InquiryWrite .category-postName {
    flex-direction: column;
  }

  .InquiryWrite .post select {
    width: 100%;
    text-align: left;
    padding-left: 0.8rem;
  }

  .InquiryWrite .post input {
    width: 100%;
  }
}