.Notice {
  width: 1040px;
  margin: 5% 5%;
}

.Notice .title {
  margin-bottom: 3%;
}

.Notice .adminBtn {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.Notice .notice-write-btn {
  float: right; /* span태그가 있어야 가능 왜? 모르겠음 이거만 쓰면 accordionBox에 들어감  */
  margin-bottom: 1rem;
  width: 70px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #6a60a9;
  color: #6a60a9;
}

.Notice .notice-write-btn:hover {
  float: right;
  margin-bottom: 1rem;
  width: 70px;
  height: 30px;
  border-radius: 3px;
  background-color: #6a60a9;
  color: white;
}

.Notice .accordionBox {
  width: 100%;
}

.Notice .accordionBtn {
  --bs-accordion-active-bg: rgb(225, 217, 240);
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgb(224, 206, 255);
}

.Notice .titleBox {
  display: flex;   /* 안됨 */
  justify-content: space-between;   /* 안됨 */
}

.Notice .notice-title {
  font-weight: 500;
}

.Notice .createDate {
text-align: right;    /* 안됨 */
}

.Notice .contentBox {
  text-align: left;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.Notice .paging nav {
  margin: 70px auto 0 auto;
  color: #8F7BE0;
}


