.banner-container {
  /* border: 1px solid salmon; */
  position: relative;
  /* z-index: 50; */
  /* width: 950px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 2.5rem 0;
}

.banner-carousel{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.banner-carousel-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}



.banner-num {
  position: absolute;
  text-align: center;
  bottom: 10px;

  font-size: small;
  width: 3rem;
  padding: 0.1rem 0 0.2rem 0;
  background-color: rgba(184, 184, 184, 0.367);
  border-radius: 15px;
  color: white;
}


.banner-container .carousel-indicators button{
  display: none;
}



.banner-container .carousel-control-prev{
  position: absolute;
  transform: translateX(-25%);
}

.banner-container .carousel-control-next {
  position: absolute;
  transform: translateX(25%);
}





@media screen and (max-width: 940px){
	.banner-container{
    width: 780px;
  }
}

@media screen and (max-width: 780px){
  .banner-container{
    margin-top: 0;
    margin-bottom: 0;
  }
  .carousel-control-prev, .carousel-control-next{
    /* display: none; */
    opacity: 0;
  }
}


@media screen and (max-width: 750px){
	.banner-container{
    /* 어느정도 작아지면 화면 가로폭에 맞게 꽉채우기(자동 반응형됨) */
    width: 100vw; 
  }
}