.react-calendar {
  width: 30rem;
  /* height: 25rem; */
  max-width: 100%;
  background: white;
  /* 캘린터 테두리를 그림자로 바꾸고, padding값으로 안에 여백 조정 */
  border-radius: 10px;
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.2);
  padding: 0.7rem 0 1rem;
  /* border: 1px solid #a0a096; */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* line-height: 1.125em; */
}

.react-calendar--doubleView {
  width: 700px;
}



.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  /* margin: -0.5em; */
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

/* ⭐ 년, 월 이 있는 상단 네비박스 */
.react-calendar__navigation {
  display: flex;
  margin-bottom: 1rem;
}

/* ⭐ 년, 월 이 있는 상단 버튼들 */
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  color: #6f48eb;
  /* font-size: larger; */
  font-weight: 700;
  margin-top: 0.5rem;
}

/* ⭐ 년, 월 이 있는 상단 버튼 */
.react-calendar__navigation__label{
  font-size: larger; 
  pointer-events : none;/*month 선택을 굳이 하지 않아도 되서 버튼이벤트 막음*/
}

/* ⭐ 상단 네비 바 < > 버튼*/
.react-calendar__navigation__prev-button, .react-calendar__navigation__next-button{
 font-size: x-large;
}

/* ⭐상단 네비 바에 있는 << >> 버튼 안보이게 함 */
.react-calendar__navigation__prev2-button, .react-calendar__navigation__next2-button{
  display: none;
}


.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  /* background-color: #e6e6e6; */
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  /* font-size: medium; */
  font-weight: 600;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

/* ⭐⭐⭐ 요일하단에 있는 ... 표시 지우기 */
.react-calendar__month-view__weekdays__weekday abbr[title]{
  text-decoration: none;
  cursor: default;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}




/* ⭐⭐⭐ 날짜들 담는 박스 */
.react-calendar__month-view__days__day{
  height: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

/* ⭐⭐⭐ 날짜 */
.react-calendar__month-view__days__day abbr{
  width: 1.9rem;
  height: 1.9rem; 
  line-height: 1.9rem;
  font-size: medium;
}

/* ⭐⭐⭐ 일정 마크 (임시) */
.react-calendar__month-view__days__day span{
  position: absolute;
  bottom: 0.3rem;
}



.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

/* ⭐⭐⭐ 날짜들 중 이번달이 아닌 날들 */
.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #d6d6d6;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}


.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

/* ⭐⭐⭐얘가 날짜에 마우스 가져다 대면 나타나는 효과 */
.react-calendar__tile:enabled:hover abbr,
.react-calendar__tile:enabled:focus abbr{
  display: inline-block;
  /* width: 1.9rem;
  height: 1.9rem; 
  line-height: 1.9rem; */
  border-radius: 50%;
  font-weight: bold;
  /* background-color:   #9087d3; */
  background-color: #c3b4fd;
  color: white;
}

/* ⭐⭐⭐ 오늘 날짜 표시 */
.react-calendar__tile--now abbr{
  /* background: #cfc0ff;
  border-radius: 6px; */
    display: inline-block;
    /* width: 2rem; 
    height: 2rem; 
    line-height: 2rem;  */
    border-radius: 50%;
    font-weight: bold;
    background-color: #6f48eb;
    /* background-color: #6a60a9;     */
    color: white;
}

/* ⭐⭐⭐ 오늘 날짜 hover */
.react-calendar__tile--now:enabled:hover abbr,
.react-calendar__tile--now:enabled:focus abbr{
  display: inline-block;
  /* width: 2rem; 
  height: 2rem; 
  line-height: 2rem;  */
  border-radius: 50%;
  font-weight: bold;
  background-color: #c3b4fd;
}

/* 얘는 캘린더 범위 선택 시 사용하는거라 설정안함 */
.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}

/* ⭐⭐⭐ 클릭한 날짜 표시 */
.react-calendar__tile--active abbr{
  display: inline-block;
  /* width: 2rem; 
  height: 2rem; 
  line-height: 2rem;  */
  border-radius: 50%;
  font-weight: bold;
  background-color: #c3b4fd;
  color: white;
}

/* ⭐⭐⭐ 클릭한 날짜 hover */
.react-calendar__tile--active:enabled:hover abbr,
.react-calendar__tile--active:enabled:focus abbr{
  display: inline-block;
  /* width: 2rem; 
  height: 2rem; 
  line-height: 2rem;  */
  border-radius: 50%;
  font-weight: bold;
  /* background-color: #9087d3; */
  /* color: white; */
  background-color: #c3b4fd;
}



.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #faf8f8;
}


@media screen and (max-width: 875px){
  .react-calendar{
    width: 100%;
  }
}

@media screen and (max-width: 500px){
  .react-calendar{
    padding: 0;
  }
}