.moimDetail-moimInfo-setting-modal-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  height: 35rem;
  overflow-y: scroll;
  padding: 1rem;
}

.moimDetail-moimInfo-setting-modal-container::-webkit-scrollbar {
  width: 0.8rem; /* 스크롤바의 너비 설정 */
  border: none;
}

.moimDetail-moimInfo-setting-modal-container::-webkit-scrollbar-thumb {
  background-color: #ebebeb; /* 스크롤바의 색상 설정 */
  border-radius: 5px; /* 스크롤바의 모서리 둥글게 설정 */
  height: 5rem; /* 스크롤바의 길이 */
}

.moimDetail-moimInfo-setting-modal-box{
  display: flex;
  width: 100%;
  flex-direction: column;
}


.moimDetail-moimInfo-setting-modal-Photo{
  display: flex;
  width: 100%;
  height: 12rem;
}

.moimDetail-moimInfo-setting-uploadPrevie{
  width: 25%;  /* 이미지 업로드 박스 크기 */
  /* width: 14rem; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 1rem; */
  /* border: 1px solid red; */
  position: relative;

}

.moimDetail-uploadPreviewImg{
  /* width: 100%; */
  width: 14rem;
  height: 100%;
  border-radius: 13px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.2);
  /* border: 1px solid red; */
}

.moimDetail-uploadCancleBtn{
  position: absolute;
  top: 0rem; 
  right: 0rem; 
  transform: translate(50%, -50%); 
  background-color: #eeeeee; 
  width: 1.3rem; 
  height: 1.3rem; 
  border-radius: 50%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  cursor: pointer;
}


.moimDetail-moimInfo-setting-uploadBox{
  width: 25%;  /* 이미지 업로드 박스 크기 */
  /* width: 14rem; */
  height: 100%;
  border: 0.1rem dashed #e4e5ed;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 1rem; */
  cursor: pointer;
}

.moimDetail-moimInfo-setting-uploadBox:hover{
  border: 0.1rem dashed #a472ff;
  background-color: #deccff2a;
}

.moimDetail-moimInfo-setting-uploadBox img{
  width: 15%;
  margin-bottom: 0.8rem;
  opacity: 0.8;
}

.moimDetail-moimInfo-setting-uploadBox span{
  font-size: small;
  color: #a472ff;
}



.moimDetail-moimInfo-setting-modal-title{
  margin-bottom: 0.4rem;
}

.moimDetail-moimInfo-setting-modal-inputBox{
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
}

.moimDetail-moiminfo-setting-modal-input{
  width: 100%;
  border: 1px solid #e4e5ed;
  border-radius: 7px;
  height: 2.5rem;
  text-indent:0.5rem;
}

.moimDetail-moiminfo-setting-modal-input:focus{
  border: 2px solid #a472ff;
  outline: none;
}

.moimDetail-moiminfo-setting-modal-input-x{
  position: absolute;
  right: 0.7rem;
  background-color: #e4e5ed;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.moimDetail-moimInfo-setting-modal-input2{
  width: 50%;
  display: flex;
  height: 2.5rem;
}

.moimDetail-moimInfo-setting-modal-input2 select{
  width: 100%;
  height: 100%;
  border: 1px solid #e4e5ed;
  border-radius: 7px;
  text-indent:0.5rem;
}

.moimDetail-moimInfo-setting-modal-input2 select:focus{
  border: 2px solid #a472ff;
  outline: none;
}

.moimDetail-moimInfo-setting-modal-category{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* font-size: small; */
  margin-bottom: 0.5rem;
  cursor: pointer;
  text-align: center;
  font-weight: bolder;
}

/* 해시태그 */
.moimDetail-moimInfo-setting-modal-hashBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #e4e5ed;
  border-radius: 7px;
  justify-content: center;
  padding: 0.4rem;
} 

.moimDetail-moimInfo-setting-modal-hashTop{
  width: 100%;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap; /* 해시태그가 너비를 넘어갈 경우 다음 줄로 이동 */
  margin-bottom: 0.5rem;
}

.moimDetail-moimInfo-setting-modal-hashTop div{
  background-color: #e4e5ed;
  border-radius: 0.4rem;
  padding: 0 0.3rem;
  white-space: nowrap; /* 해시태그가 길어도 한 줄에 표시되도록 설정 */
  cursor: pointer;
}

.moimDetail-moimInfo-setting-modal-hashTop span{
  margin-right: 0.5rem;
}

.moimDetail-moimInfo-setting-modal-hashTop button{
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
}

.moimDetail-moimInfo-setting-modal-hashBox input{
  border: none;
}

.moimDetail-moimInfo-setting-modal-hashBox input:focus{
  outline: none;
}



.moimDetail-moimInfo-setting-modal-submit{
  background-color: #a472ff;
  border: 1px solid #a472ff;
  border-radius: 7px;
  text-indent:0.5rem;
  height: 3.5rem;
  color: white;
  /* margin-top: 1rem; */
  /* margin-bottom: 2rem; */
  font-weight: 600;
}

.moimDetail-moimInfo-setting-modal-submit:disabled{
  background-color: #eaebee;
  border: 1px solid #eaebee;
  color: rgb(146, 146, 146);
}


/* 나중에 반응형 할때 카테고리 설정값
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 한줄에 4개 
*/