.Notice {
  width: 1040px;
  margin: 5% 5%;
}

.Notice .title {
  margin-bottom: 3%;
}

.Notice .accordionBox {
  width: 100%;
  margin-top: 5rem;
}

.Notice .accordionBtn {
  --bs-accordion-active-bg: rgb(225, 217, 240);
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgb(224, 206, 255);
}

.Notice .titleBox {
  display: flex;   /* 안됨 */
  justify-content: space-between;   /* 안됨 */
}

.Notice .notice-title {
  font-weight: 500;
}

.Notice .createDate {
text-align: right;    /* 안됨 */
}

.Notice .contentBox {
  text-align: left;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.Notice .paging nav {
  margin: 70px auto 0 auto;
  color: #8F7BE0;
}


