.body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    width: 50%;
    margin: auto;
}

.navbar_logo {
    display: flex;
    list-style: none;
    padding-left: 0;
    padding: 8px 12px;
}

li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.navbar_left li:first-child {
    margin-left: 10px;
}

.logo {
    width: 70px;
}

.navbar_left {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_left li {
    padding: 8px 12px;
}

.navbar_left li:hover {
    background-color: #6A60A9;
    border-radius: 4px;
}

.navbar_left li:hover a {
    color: white;
}

.navbar_search {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
    background-color: #eee;
    height: 30px;
    outline: none;
    width: 30%;

}

.navbar_right li:first-child {
    margin-right: 10px;
}

.navbar_right li:hover {
    background-color: #6A60A9;
    border-radius: 4px;
}

.navbar_right li:hover a {
    color: white;
}

.navbar_right .navbar_login {
    border: 0px solid;
    border-radius: 4px;
    background : linear-gradient(to right, #6A60A9, #c59df1);
}

.navbar_right .navbar_login a {
    color: white;
}

/* 돋보기 아이콘
.search_icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #555;
    font-size: 20px;
}
*/

.navbar_search:focus {
    border-color: none;
}

.navbar_right {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_right li {
    padding: 8px 12px;
}

.navbar_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: black;
    padding: 8px 0px;
}

.navbar_toggleBtn:hover {
    color: black;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 8px 12px;
    }

    .navbar_left {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_logo {
        padding-left: 10px;
    }

    .navbar_left li {
        width: 100%;
        text-align: center;
    }

    .navbar_left li:first-child {
        margin-left: 0;
    }

    .navbar_search {
        display: none;
        width: 50%;
        align-items: center;
        text-align: center;
    }

    .navbar_right {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar_toggleBtn {
        display: block;
    }

    .navbar_left.active,
    .navbar_search.active,
    .navbar_right.active {
        display: flex;
    }
}