.FAQ-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 20%;
}

.right-FAQ-container {
    width: 60%;

    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.right-bar-container {
    display: flex;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #eee;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
}



.search-input {
    align-items: center;
    margin: 0;

    height: 2.3rem;
    margin: 0 3rem 0 0.7rem;
    background-color: transparent;
    border: none;
}

.search-input:focus {
    outline: none;
}

.search span {
    margin: 0.35rem 0.8rem 0 0.35rem;
}

.category-ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

.category-li {
    margin-right: 10px;
}

.category-li.clicked {
    color: #6A69A9;
}


.faq-btn {
    border: none;
    color: #acb0b8;
    font-weight: 600;
    background-color: white;
    font-size: 14px;
}

.faq-btn.clicked {
    color: #6A60A9;
}


.pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

/* .right-FAQ-container {
    width: 60%;
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #eee;
    border-radius: 5px;
} */

@media screen and (max-width: 970px) {
    .FAQ-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .right-FAQ-container {
        width: 100%;
    }

    .right-bar-container {
        width: 100%;
        
    }

    .right-FAQ-container {
        /* align-items: center; */
    }

    .notice {
        width: 100%;
    }

    .search {
        display: none;
    }

    .faq-title {
        text-align: center;
    }

    .category-ul {
        justify-content: center;
    }

}