.HeaderContainer{
  /* border: 1px solid salmon; */
  border-bottom: 1px solid rgba(0,0,0,.08);
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: white;
  width: 100%;
  height: 4.5rem;
  position: sticky;
  top: 0; 
  z-index: 5;
  padding: 0 1rem;
}


#HeaderDesktop, #HeaderMobile{
  /* border: 1px solid salmon; */
  background-color: white;
  display: flex;
  height: 4.5rem;
  align-items: center;
  justify-content: center;
}

#HeaderDesktop{
  border-bottom: 1px solid rgba(0,0,0,.08);
}

#HeaderMobile{
  width: 100%;
}


.nav-searchBar, .header-logo, .nav-menu, .nav-joinLogin{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-aTag{
  text-decoration: none;
  margin: 0 1rem;
  height: 2.3rem;
  display: block;
  text-align: center; /* 텍스트 세로 가운데 정렬 */
  line-height: 2.25rem;
  color: rgb(46, 46, 46);
  /* font-size: large; */
  font-weight: 500;
}

/* 로그인 상태일때 나오는 회원 닉네임 */
.nav-nickname{
  text-decoration: none;
  margin: 0 1rem;
  height: 2.3rem;
  display: block;
  text-align: center; /* 텍스트 세로 가운데 정렬 */
  line-height: 2.25rem;
  color: rgb(46, 46, 46);
  background-color: white;
  border: none;
  /* font-size: large; */
  font-weight: 500;
}


.header-logo{
  width: 5.3rem;
  margin: 0 1rem 0 0.6rem;
  /* margin-right: 2rem;  */
}

.nav-logo{
  width: 5.5rem;
  margin-right: 1.5rem;
}


.nav-menu{
  margin-right: 2.5rem;
}

.nav-searchBar{
  /* border: 1px solid salmon; */
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
  height: 2.3rem;
  margin: 0 3rem 0 0.7rem;
  /* width: 18rem; */
}

.nav-search-input{
  background-color: transparent;
  border: none;
  width: 19rem;
  margin-left: 0.5rem;
}

.nav-search-input:focus{
  outline: none;
}

.nav-searchBar span{
  margin: 0 0.8rem 0 0.35rem;
}

/* .nav-searchBar i {
  color: #9c9c9c;
} */

 /* .nav-joinLogin{
  border: 1px solid salmon;
}  */


.nav-loginBtn{
  text-decoration: none;
  height: 2.3rem;
  display: block;
  text-align: center; /* 텍스트 세로 가운데 정렬 */
  line-height: 2.25rem;
  background-color: #6a60a9;
  color: white;
  border-radius: 5px;
  width: 5rem;
  margin-left: 1rem;
  /* font-size: large; */
}

/* 로그아웃 버튼 */
.nav-logoutBtn{
  text-decoration: none;
  height: 2.3rem;
  display: block;
  text-align: center; /* 텍스트 세로 가운데 정렬 */
  line-height: 2.25rem;
  background-color: #6a60a9;
  border: none;
  color: white;
  border-radius: 5px;
  width: 5rem;
  margin-left: 1rem;
  /* font-size: large; */
}

.nav-loginBtn:hover{
  background-image: linear-gradient(to bottom right,#6a60a9,#c59df1);
}



/* ===========모바일 헤더========== */


.headerMoblie-logo{
  /* border: 1px solid salmon; */
  width: 90%;
  padding-left: 15%;
}

.headerMoblie-logo img{
  width: 5rem;
}


.headerMoblieBtn{
    /* border: 1px solid salmon; */
    width: 15%;
    text-align: center;
    cursor: pointer;
}

.headerMoblieBtn i {
  color: #575757;
}


/* [버거 버튼] 모바일 사이드 메뉴 설정 */
.headerSide-menu {
  position: fixed;
  width: 80%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  /* border: 1px solid salmon; */
  right: -80%;
  transition: all 300ms;
  z-index: 1;
  top: 3.8rem;
  /* ↑하단에 있는 @media screen and (max-width: 780px){ 안에 #HeaderMobile 값과 일치해야함 */
  padding: 40px 20px 20px 20px;
  box-sizing: border-box;
  overflow: scroll;
}

.headerSide-menu-open {
  right: 0;
}


/* 모바일 사이드메뉴 안쪽 설정 */
.headerSide-menu-inner1{
  /* border: 1px solid salmon; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.headerSide-menu-inner1 h5{
  font-weight: 600;
  color: #575757;
  margin: 2rem 0 2rem 0;
}

.headerSide-menu-inner1 button{
  background-color: #7E57C2;
  color: white;
  width: 13rem;
  height: 2.7rem;
  border: none;
  border-radius: 7px;
  letter-spacing : 2px; /*자간 조정*/
  margin-bottom: 1.7rem;
}

.headerSide-menu-inner1 p {
  font-size: small;
  color: #575757;
}

.headerSide-menu-inner1 a{
  display: inline-block;
  color: #7E57C2;
  font-weight: 500;
}

.headerSide-menu hr{
  color: #575757 ;
  width: 85%;
  text-align: center;
  margin: 2.6rem 7.5%;
}

.headerSide-menu-inner2{
  /* border: 1px solid salmon; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.headerSide-menu-inner2 a:hover{
  color: #6a60a9;
  font-weight: 700;
}

.headerSide-menu-inner2 a{
  display: inline-block;
  font-size: 1.3rem;
  color: #575757;
  text-decoration: none;
  margin-bottom: 1rem;
}










/* 기본 사이즈보다 줄어들면 메뉴바 마진 줄임 (태블릿) */
@media screen and (max-width: 1081px){

  .nav-search-input{
    width: 70%;
  }
	.header-logo, .nav-menu, .nav-searchBar{
    margin: 1rem;
  }
  .nav-aTag, .nav-loginBtn{
    margin: 0 1rem;
  }
}

@media screen and (max-width: 986px){
	.header-logo, .nav-menu, .nav-searchBar{
    margin: 0.8rem;
  }
  .nav-aTag, .nav-loginBtn{
    margin: 0 0.5rem;
  }
}


/* 가로 길이가 780되기 전가지는  미니바 안보임*/
@media screen and (min-width: 876px){
	#HeaderMobile{
    display: none;
  }
}


/* 780만큼 줄어들면 미니바로 전환 */
@media screen and (max-width: 875px){
  #HeaderDesktop{
    display: none;
  }
  #HeaderMobile{
    height:  3.8rem;
  }
  .HeaderContainer{
    height:  3.8rem;
  }
}




