.Login {
    margin: 0;
}

.Login .loginForm {
    border: 1.5px solid #eee;
    border-radius: 25px;
    width: 400px;
    margin: auto;

}

.Login .inputWrapper {
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 9%;
    margin-bottom: 5px;
    font-weight: 550;
    flex: 1;
    color: #737373;
}

.Login .listContainer {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.Login .inputText {
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #eee;
    border-radius: 4px;
    font-size: 0.815rem;
    padding-left: 10px;
    width: 80%;
    height: 35px;
}

.Login .loginBtnWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Login .loginBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 2.5rem;
    border: none;
    border-radius: 4px;
    background-color: #C2C2C2;
    color: white;
    font-weight: 800;
    margin-bottom: 0.625rem;
}

.Login .findIdPwWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 1rem;
}

.Login .findIdPw {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Login .findId,
.Login .findPw,
.Login .signUp,
.Login .divider {
    display: inline-block;
    vertical-align: middle;
    padding: 0.375rem 0.1rem;
}

.Login .divider {
    margin: 0 0.5rem;
    color: #C2C2C2;
}

.Login .findIdPw a {
    text-decoration: none;
    color: #C2C2C2;
    font-weight: 500;
}

.Login .socialLoginBar {
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: 550;
    flex: 1;
    color: #737373;
}

.Login .socialLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.25rem;
    
}

.Login .naverLoginBtn {
    height: 50px;
    width: 50px;
    /* margin: 25px 10px;   */
    background-color: #63C33D;
    color: white;
    letter-spacing: 1px;
    border: 1px solid #63C33D;
    border-radius: 50%;
    margin-right: 1.25rem;
}

.Login .kakaoLoginBtn {
    height: 50px;
    width: 50px;
    background-color:#FCE84D;
    color: #333333;
    border: 1px solid #FCE84D;
    border-radius: 50%;
    margin-right: 1.25rem;
}

.Login .googleLoginBtn {
    height: 50px;
    width: 50px;
    background-color: #D84B3D;
    color: white;
    border: 1px solid #D84B3D;
    border-radius: 50%;
}

.Login .naverLoginImg,
.Login .kakaoLoginImg,
.Login .googleLoginImg {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

