.accordion-box {
  border-bottom: 2px solid lightgray;
  text-align: left;
}

.accordion-box .accordion-box-inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 10px;
  cursor: pointer;
  width: 100%;
}

.accordion-box .accordion-box-inner-header .accordion-title {
  width: 98%;
}

.accordion-box .accordion-box-inner-header .accordion-title .accordion-title-inner-FAQ,
.accordion-title-inner-inquiry :nth-child(1),
.accordion-title-inner-inquiry :nth-child(2) {
  display: flex;
  align-items: center;
}

.accordion-box .accordion-box-inner-header .accordion-title .accordion-title-inner-inquiry .answerChk-title {
  margin-bottom: 0.5rem;
}

.accordion-box .accordion-box-inner-header .accordion-title .accordion-title-inner-inquiry .complete {
  display: flex;
  justify-content: center;
  margin-right: 0.5rem;
  width: 4.5rem;
  height: 1.7rem;
  background: linear-gradient(to right, #764dbe, #a388d3);
  color: white;
  font-size: small;
  font-weight: 600;
  border-radius: 7px;
}

.accordion-box .accordion-box-inner-header .accordion-title .accordion-title-inner-inquiry .receipt {
  display: flex;
  justify-content: center;
  margin-right: 0.5rem;
  width: 3.5rem;
  height: 1.7rem;
  background-color: rgb(194, 194, 194);
  color: white;
  font-size: small;
  font-weight: 600;
  border-radius: 7px;
}

.accordion-box .accordion-box-inner-header .accordion-title .accordion-title-inner-inquiry .answerChk-title .title {
  font-weight: 600;
} 

.accordion-box .accordion-box-inner-header .accordion-title .accordion-title-inner-inquiry .category-date {
  font-size: small;
}

.accordion-box .accordion-box-inner-header .accordion-title .accordion-title-inner-inquiry .category-date .category {
  color: #8F7BE0;
  font-weight: 600;
  margin-right: 0.5rem;
}

.accordion-box .accordion-box-inner-header .accordion-title .accordion-title-inner-inquiry .date {
  color: rgb(146, 146, 146);
}

.accordion-box .accordion-box-inner-header .accordion-title .accordion-title-inner-FAQ :nth-child(1) {
  width: 3.7rem;
  text-align: center;
  color: #8F7BE0;
  /* #7E57C2 */
  font-weight: 600;
}


.accordion-box .accordion-box-inner-header .accordion-title .accordion-title-inner-FAQ :nth-child(2) {
  margin-left: 2rem;
  font-weight: 500;
}

.accordion-box .accordion-box-inner-header .accordion-arrow-icon {
  margin: 0 5px;
  width: 2%;
  text-align: right;
}

.accordion-box .accordion-inner-content-inquiry {
  padding: 0.5rem 1.5rem;
  margin-bottom: 1.5rem;
  border-top: 2px solid rgb(224, 196, 255);
  border-bottom: 2px solid rgb(224, 196, 255);
  background-color: rgb(247, 239, 255);
  word-wrap: break-word;
  white-space: pre-wrap;
}

.accordion-box .accordion-inner-content-inquiry .question {
  padding: 1.2rem 0;
}

.accordion-box .accordion-inner-content-inquiry .answer {
  border-top: 1px solid rgb(224, 196, 255);
  padding: 1.2rem 0;
}

.accordion-box .accordion-inner-content-inquiry .question,
.answer {
  display: flex;
}

.accordion-box .accordion-inner-content-inquiry .question div,
.answer div {

  color: #8F7BE0;
  font-weight: 700;
  margin-right: 0.5rem;
}

.accordion-box .accordion-inner-content-FAQ {
  padding: 2rem;
  margin-bottom: 1.5rem;
  background-color: rgb(247, 239, 255);
  word-wrap: break-word;
  white-space: pre-wrap;
}









@media screen and (max-width: 1000px) {
  .accordion-box .accordion-box-inner-header .accordion-title .accordion-title-inner-inquiry .complete {
    width: 4rem;
    height: 1.7rem;
  }
  
  .accordion-box .accordion-box-inner-header .accordion-title .accordion-title-inner-inquiry .receipt {
    width: 3rem;
    height: 1.7rem;
  }
}