.moimDetailBoard-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  /* overflow-x: hidden; */
}

/* .moimDetailBoard-schedule-Box, .moimDetailBoard-comm-Box{
  display: flex;
  width: 100%;
  flex-direction: column;
} */

.moimDetailBoard-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  position: relative;
}

.moimDetailBoard-comm-writing{
  padding: 0.2rem 0.7rem;
  /* border: 1px solid rgba(104, 104, 104, 0.301); */
  border-radius: 0.4rem;
  cursor: pointer;
  color: rgba(104, 104, 104, 0.925);
}


.moimDetailBoard-comm-settingMenu{
  /* border: 1px solid red; */
  background-color: white;
  position: absolute;
  top: 1.5rem;
  right: 0;
  /* padding: 0.5rem 0; */
  display: flex;
  flex-direction: column;
  /* gap: 0.7rem; */
  list-style: none;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.2);
}

.moimDetailBoard-comm-settingMenu li{
  padding: 0.5rem 2rem;
  cursor: pointer;
}
.moimDetailBoard-comm-settingMenu li:hover{
  background-color: #F2EEF8;
}


.moimDetailBoard-comm-categotyBox{
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.moimDetailBoard-comm-categoty{
  background-color: #F2EEF8;
  padding: 0.3rem 1.5rem;
  /* width: 4.5rem; */
  border-radius: 1rem;
  color: #B0B0B0;
  cursor: pointer;
}

.moimCommCateCheck{
  background-color: #9087d3;
  color: white;
}

.moimDetailBoard-commListBox{
  width: 100%;
  /* display: flex; */
}


.moimDetailBoard-commListBox .paging{
  width: 100%;
  display: flex;
  padding-top: 2rem;
  justify-content: center;
  background-color: white;
  margin-top: 0.7rem;
}




@media screen and (max-width: 1069px){
  .moimDetailBoard-container{
    padding: 0 1rem;
  }
}



@media screen and (max-width: 474px){ 
  .moimDetailBoard-comm-categoty{
    padding: 0.3rem 0rem;
    flex: 1;
  }
  .moimDetailBoard-commListBox{
    background-color: #f1f1f1;
    width: calc(100% + 30px); 
    margin-left: -15px; /* 부모 요소의 padding 크기 */
  }
  .moimDetailBoard-commListBox .Community .tbl .tr{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }
  .moimDetailBoard-commListBox .Community .tbl .td{
    border: none;
    background-color: white;
    padding: 1rem 0;
  }
}
