.moimDetail-moimContent-home, .moimDetail-moimContent-home-descriptionBox,
.moimDetail-moimContent-home-scheduleBox, .moimDetail-moimContent-home-boardBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.moimDetail-moimContent-home-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.moimDetail-moimContent-home-description-Box{
  /* white-space: pre-wrap; */
  width: 100%;
  /* font-size: 90%; */
  text-align: left;
}




.moimDetail-moimContent-home-description-edit{
  display: flex;
  flex-direction: column;
}

.moimDetail-moimContent-home-description-edit div{
  display: flex;
  width: 100%;
  /* border: 1px solid salmon; */
  align-items: center;
  justify-content: flex-end;
  gap: 0.7rem;
  margin-top: 0.5rem;
  position: relative;
}

/* 모임 설명 수정화면 */
.moimDetail-moimContent-home-description-edit button{
  padding: 0.2rem 1rem;
  border-radius: 0.3rem;
  border: 1px solid #e4e5ed;
}

.moimDetail-moimContent-home-description-edit textarea{
  width: 100%;
  resize: none;
  height: 18rem;
  background-color: white;
  border: 1px solid #e4e5ed;
  border-radius: 5px;
  padding: 0.7rem;
  /* text-indent: 0.5rem; 들여쓰기 */
  /* font-size: small; */
}  

.moimDetail-moimContent-home-description-edit textarea:focus{
  border: 2px solid #a472ff;
  outline: none;
}

.moimDetail-moimContent-home-description-edit textarea::-webkit-scrollbar {
  width: 0.6rem; /* 스크롤바의 너비 설정 */
  border: none;
}

.moimDetail-moimContent-home-description-edit textarea::-webkit-scrollbar-thumb {
  background-color: #ebebeb; /* 스크롤바의 색상 설정 */
  border-radius: 5px; /* 스크롤바의 모서리 둥글게 설정 */
  /* height: 1rem; 스크롤바의 길이 */
}


/* 모임 설명 보여지는 화면 (데이터 O)*/
.moimDetail-moimContent-home-description-yes {
  padding-left: 0.3rem;
  width: 100%;
  display: flex;
}

.moimDetail-moimContent-home-description-yes pre {
  white-space: pre-wrap; /* 줄 바꿈을 허용하여 텍스트를 표시 */
}


/* 모임 설명 보여지는 화면 (데이터 X)*/
.moimDetail-moimContent-home-description-no{
  padding: 1rem;
}

.moimDetail-moimContent-home-description-no-guide{
  padding: 0.8rem 0.7rem;
  margin-bottom: 0.7rem;
  color: white;
  border-radius: 0.5rem;
  background: linear-gradient(130deg, #6644d6, #c3b4fd);
}



.moimDatail-line{
  width: 100%;
  height: 0.1rem;
  margin: 3.5rem 0 0.8rem;
  border-bottom: 1px solid rgba(0,0,0,.08);
} 

.moimDetail-moimContent-home-schedule-contentBox{
  width: 100%;
  display: flex;
  gap: 15%;
  justify-content: center;
  margin-top: 1rem;
}

.moimDetail-moimContent-home-schedule-content{
  /* border: 1px solid salmon; */
  width: 36%;
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.2);
  border-radius: 3%;
  padding: 1rem 0 0;
  /* ⭐⭐⭐⭐ */
  display: flex;
  flex-direction: column;
  position: relative;
}

.moimDetail-moimContent-home-schedule-content-header-dDay{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #9087d3;
  color: white;
  padding: 0.1rem 1rem;
  border-radius: 6px;
  margin: 1rem 0.7rem;
  font-size: small;
  line-height: 1.7;
}

.moimDetail-moimContent-home-schedule-content-headerBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.2rem;
}

.moimDetail-moimContent-home-schedule-content-header-date{
  color: #494949;
  font-size: 15px;
}

.moimDetail-moimContent-home-schedule-content-header-title{
  font-weight: bolder;
  font-size: 17px;
}

/* 😡임시 이미지 대체용임😡 */
.moimDetail-moimContent-home-schedule-content-img{
  width: 100%;
  /* height: 10rem; */
  aspect-ratio: 2.1;
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 800;
  color: white;
}

.moimDetail-moimContent-home-schedule-content-info{
  /* border: 1px solid salmon; */
  padding: 1.5rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.moimDetail-moimContent-home-schedule-content-info-data{
  display: flex;
  color: #5e5e5e;
}

.moimDetail-moimContent-home-schedule-content-info-data span{
  margin-right: 0.8rem;
  font-weight: 600;
}

.moimDetail-moimContent-home-schedule-content-info-member{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 0.7rem 1rem;
  font-weight: 600;
  color: #5e5e5e;
}

.moimDetail-moimContent-home-schedule-content-info-member span{
  color: #9087d3;
}


.moimDetail-moimContent-home-board-contentBox{
  /* border: 1px solid salmon; */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.moimDetail-moimContemt-home-board-content{
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
}

.moimDetail-moimContemt-home-board-content-cate{
  margin-right: 0.5rem;
  font-weight: 600;
  color: #9087d3;
}

.moimDetail-moimContemt-home-board-content span{
  margin-left: auto;
  color: #5e5e5e;
}

.moimDetail-moimContent-home-memberBox{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.moimDetail-moimContent-home-member-settingIcon{
  padding-left: 1rem;
  cursor: pointer;
}

.moimDetail-moimContent-home-member-contentBox{
  /* border: 1px solid salmon; */
  width: 100%;
  /* display: flex;
  gap: 1rem; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
}


  .moimDetail-moimContent-home-member-content, .moimDetail-moimContent-home-member-content2{
  display: flex;
  color: #5e5e5e;
  padding: 0 0.5rem 1.5rem;
}



.moimDetail-moimContent-home-member-content-img, .moimDetail-moimContent-home-member-content-img-modal{
  /* border: 1px solid salmon; */
  border-radius: 50%;
  position: relative;
  width: 20%;
  aspect-ratio: 1/1;

  display: flex;
  align-items: center;
  margin: 0 0.5rem;
  background-position: center;
  background-size: cover;
}

.moimDetail-moimLeaderIcon{
  position: absolute;
  width: 50%;
  bottom: -0.3rem;
  right: -0.2rem;
  /* width: 55%;
  top: -0.5rem;
  left: -0.5rem; */
  /* border: 1px solid blue; */
}

.moimDetail-moimManagerIcon{
  position: absolute;
  width: 35%;
  bottom: 0;
  right: 0;
}



.moimDetail-moimContent-home-member-content-text{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  gap: 0.1rem;
  margin-left: 0.2rem;
}

.moimDetail-moimContent-home-member-content-text div {
  font-weight: 500;
}

.moimDetail-moimContent-home-member-content-text span{
  font-size: 75%;
}


.moim-moimContent-home-member-settingBox{
  /* border: 1px solid rebeccapurple; */
  margin-left: auto;
  display: flex;
}



/* ✅멤버 모달창 설정 값✅ */
.moimDetail-moimContent-home-member-content-modalBox{
  width: 100%;
  height: 65vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* padding: 0.2rem 0.7rem; */
  background-color: #f1f1f1;
}

.moimDetail-moimContent-home-member-content-modalBox::-webkit-scrollbar {
  width: 0.5rem; /* 스크롤바의 너비 설정 */
  border: none;
}

.moimDetail-moimContent-home-member-content-modalBox::-webkit-scrollbar-thumb {
  background-color: #9087d3; /* 스크롤바의 색상 설정 */
  border-radius: 3px; /* 스크롤바의 모서리 둥글게 설정 */
  height: 5rem; /* 스크롤바의 길이 */
}

.moimDetail-moimContent-home-member-content-modal{
  width: 100%;
  /* height: 4rem; */
  display: flex;
  /* box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.2); */
  /* border-radius: 10px; */
  color: #5e5e5e;
  padding: 0.6rem 0 0.6rem 1rem;
  background-color: white;
}

/* .moimDetail-moimContent-home-member-content2{
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.moimDetail-moimContent-home-member-content2 div{
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: 900;
  color: white ;
  background-color: #d1d1d1;
  border-radius: 50%;
} */


.moimDetail-moimContent-home-member-content-img-modal{
  position: relative;
  width: 2.9rem;
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}


.moimDetail-moimContent-home-member-modal-setting{
  /* border: 1px solid slateblue; */
  margin-left: auto;
  margin-right: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.moimDetail-moimContent-home-member-modal-setting button{
  border-radius: 0.3rem;
  font-size: small;
  padding: 0.2rem 0.3rem;
}


.moimDetail-moimContent-home-member-modal-managerBtn {
  background-color: white;
  color: #9087d3;
  border: 1px solid #9087d3;
}

.moimDetail-moimContent-home-member-modal-managerBtn:active {
  background-color: #9087d3;
  color: white;
}

.member-modal-managerBtn{
  background-color: #9087d3;
  color: white;
}  

.moimDetail-moimContent-home-member-modal-kickOut{
  border: 1px solid #e4e5ed ;
  background-color: #e4e5ed;
  color: #494949;
}




@media screen and (max-width: 875px){
  .moimDetail-moimContent-home-schedule-contentBox{
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .moimDetail-moimContent-home-schedule-content{
    padding: 0.7rem;
    width: 100%;
  }
  .moimDetail-moimContent-home-schedule-content-headerBox{
    justify-content: left;
    align-items: flex-start;
  }
  .moimDetail-moimContent-home-schedule-content-header-date{
    display: none;
  }
  .moimDetail-moimContent-home-schedule-content-innerBox{
    display: flex;
    gap: 0;
  }
  .moimDetail-moimContent-home-schedule-content-img{
    /* width: 25%; */
    flex: 1.5;
    /* position: relative; */
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 1rem;
    margin-right: 3%;
  }
  .moimDetail-moimContent-home-schedule-content-info{
    padding: 0;
    flex: 3;
    justify-content: space-around;
  }
  .moimDetail-moimContent-home-schedule-content-info-data p{
    margin: 0;
  }
  .moimDetail-moimContemt-home-board-content{
    padding: 0.5rem;
  }
  .moimDetail-moimContemt-home-board-content-cate{
    white-space: nowrap; /*한 줄로 표시되게 설정 */
  }
  .moimDetail-moimContemt-home-board-content-title{
    white-space: nowrap; /* 텍스트가 한 줄로만 표시되도록 설정 */
    overflow: hidden; /* 넘치는 부분은 숨김 처리 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 생략 */
  }
  .moimDetail-moimContemt-home-board-content span{
    display: none;
  }
  .moimDetail-moimContent-home-member-contentBox{
    /* flex-direction: column; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .moimDetail-moimContent-home-member-content{
    width: 100%;
  }
  .moimDetail-moimContent-home-member-content-img{
    width: 15%;
  }
  .scheduleMockup{
    display: none;
  }
}


@media screen and (max-width: 520px){

  .moimDetail-moimContent-home-member-contentBox{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #f1f1f1;
    width: calc(100% + 30px); /* 만약 음수 마진을 사용한다면 */
    margin-left: -15px; /* 부모 요소의 padding 크기 */
  }
  .moimDetail-moimContent-home-member-content{
    box-shadow: none;
    padding: 0.5rem 0;
    background-color: white;
    padding-left: 1rem;
  }
  .moimDetail-moimContent-home-member-settingIcon{ /*이 크기가 되면 오른쪽에 있는 : 버튼 안보임*/
    display: none;
   }
}



@media screen and (min-width: 521px){ 
  .moim-moimContent-home-member-settingBox{
    display: none;
  }
}