#MyPageDetail{
  width: 1050px;
}

#MyPageDetail .myPageHeaderBox{
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 2rem 0;
}

#MyPageDetail .myPageBodyBox{
  width: 100%;
  display: flex;
}


@media screen and (max-width: 1050px){
  #MyPageDetail{
    width: 100%; /*나중에 반응형 숫자 바꿔야함*/
    padding: 0 1rem;
  }
}


@media screen and (max-width: 850px){
  #MyPageDetail .myPageHeaderBox{
    margin: 0.5rem 0 1rem 0;
  }
}