.AdminMember {
  width: 100%;
  height: 100%;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
}

.AdminMember .title-search-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3rem;
  flex-direction: column;
}

.AdminMember .title-search-box h2 {
  color: gray;
  font-weight: 600;
  text-align: left;
  margin-bottom: 3rem;
}

.AdminMember .search-box {
  padding-bottom: 0.5rem;
  width: 35rem;
  text-align: left;
  border-bottom: 2px solid lightgray;
}

.AdminMember input {
  padding-left: 10px;
  width: 80%;
  outline: none;
  border: none;
}

.AdminMember select {
  outline: none;
  border: none;
}

.AdminMember .table-container {
  flex: 1;
  overflow-y: auto;
}

.AdminMember input[type="checkbox"] {
  accent-color: #9087d3;
  height: 1rem;
}

.AdminMember .deleteBtn {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.AdminMember .table-container button{
  border: none;
  background-color: gray;
  color: white;
  width: 6rem;
  height: 2rem;
  border-radius: 7px;
}

/* 페이징 */
.AdminMember .paging {
  margin: auto;
  padding-top: 1rem;
}
