.AddMoim-container{
  /* border: 1px solid salmon; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.AddMoim-title{
  margin: 2.5rem 0 1rem;
}

.AddMoim-contentBox{
  /* border: 1px solid salmon; */
  display: flex;
  flex-direction: column;
  width: 25rem;
  padding: 1.5rem;
  gap: 1.3rem;
  color: #404040;
}

.AddMoim-content{
  /* border: 1px solid salmon; */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.AddMoim-content-title{
  /* border: 1px solid salmon; */
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.AddMoim-content-inner{
  /* border: 1px solid salmon; */
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.AddMoim-content-inner input{
  flex: 1;
}

.AddMoim-content-inner2{
  /* border: 1px solid salmon; */
  width: 50%;
  display: flex;
}

.AddMoim-content-inner2 select{
  width: 100%;
}

.AddMoim-content-inner3{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 한줄에 4개 */
}


.AddMoim-check-Message{
  text-align: left;
  font-size: smaller;
  padding-left: 0.5rem;
  margin-top: 0.3rem;
  color: #a472ff;
}

.AddMoim-check-MessageNo{
  color: red;
}

.AddMoim-content-category{
  /* border: 1px solid salmon; */
  width: 70%;
  display: flex;
  flex-direction: column;
  font-size: small;
  margin-bottom: 0.5rem;
  cursor: pointer;
}


.AddMoim-contentBox input, .AddMoim-contentBox select{
  border: 1px solid #e4e5ed;
  border-radius: 7px;
  height: 2.5rem;
  text-indent:0.5rem;
  font-size: small;
} 

.AddMoim-contentBox input:focus, .AddMoim-contentBox select:focus{
  border: 2px solid #a472ff;
  outline: none;
}

.ss:hover{
  background-color: #a472ff;
  color: white;
}

.AddMoim-content-check{
  font-size: 14px;
  border-radius: 7px;
  padding: 3px 10px;
  border: none;
  background-color: #eeeeee;
  color: rgb(146, 146, 146);
}

.AddMoim-content-checkOn{
  background-color: #a472ff;
  color: white;
}


.AddMoim-category-check{
  color: #C59DF1;
  font-weight: 600;
}

.AddMoim-submit{
  background-color: #a472ff;
  border: 1px solid #a472ff;
  border-radius: 7px;
  height: 2.5rem;
  text-indent:0.5rem;
  height: 3rem;
  color: white;
  margin-top: 1rem;
  font-weight: 600;
}

.AddMoim-submit:disabled{
  background-color: #eaebee;
  border: 1px solid #eaebee;
  color: rgb(146, 146, 146);
}







@media screen and (max-width: 390px){
  .AddMoim-contentBox{
    width: 100%;
  }
}