.MoimBtn-container{
  /* border: 1px solid salmon; */
  /* height: 100%; */
  position: absolute;
  bottom: 2.5rem;
  right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MoimScrollBtn-Btn{
  background-color: #dddddd94;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 50%;
  cursor: pointer;
}


.MoimAddBtn-BtnBox{
  text-decoration: none;
}

.MoimAddBtn-Btn{
  /* background-color: #6a60a9; */
  width: 4rem;
  height: 4rem;
  background: linear-gradient(130deg, #6a60a9,#9087d3, #b5afe6);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  /* position: absolute;
  bottom: 2.5rem;
  right: 3rem; */
}


@media screen and (max-width: 1195px){
  .MoimBtn-container{
    bottom: 2rem;
    right: 2rem;
  }
}

@media screen and (max-width: 780px){
  .MoimBtn-container{
    bottom: 4.5rem;
    right: 0.8rem;
  }
  .MoimAddBtn-Btn{
    width: 3.5rem;
    height: 3.5rem;
  }
}