.App {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  /* padding-top: 100px; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.App-Body{
  /* height: 100v; */
  display: flex;
  flex-direction: column;
  flex: 1;
}

*{
  font-family: 'Noto Sans KR', sans-serif;
}

@media (max-width: 600px) {
  .App {
    overflow-x: scroll; /* 스크롤 항상 보이도록 설정 */
    padding: 0; /* 왼쪽과 오른쪽 패딩 제거 */
  }
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
