.custom-select-box {
  position: relative;
  width: 10rem;
}

.custom-select-box .selected {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #fff;
  cursor: pointer;
  user-select: none; /*드래그 방지*/
  display: flex;
  justify-content: space-between;
}

.custom-select-box .selected span{
  width: 100%;
}

.custom-select-box .options {
  position: absolute;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0;
  list-style-type: none;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #fff;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.custom-select-box .options::-webkit-scrollbar {
  width: 0.5rem; /* 스크롤바의 너비 설정 */
  border: none;
}

.custom-select-box .options::-webkit-scrollbar-thumb {
  background-color: #ebebeb; /* 스크롤바의 색상 설정 */
  border-radius: 0.5rem; /* 스크롤바의 모서리 둥글게 설정 */
  height: 5rem; /* 스크롤바의 길이 */
  margin-right: 0.5rem; /* 스크롤바 오른쪽 여백 추가 */
}

.custom-select-box .options::-webkit-scrollbar-track {
  margin-right: -0.5rem !important; /* 스크롤바 트랙의 오른쪽 마진 조정 */
}

.custom-select-box .option {
  padding: 0.5rem;
  cursor: pointer;
  user-select: none;
}

.custom-select-box .option:hover {
  background-color: #f2f1fd;
}


.custom-select-box-disabled {
  pointer-events: none; /* 클릭 이벤트 비활성화 */
}



@media screen and (max-width: 815px){
  .custom-select-box{
   width: 7rem; 
  }
}

@media screen and (max-width: 552px){
  .custom-select-box{
   width: 100%; 
  }
  .custom-select-box .selected{
    padding: 0.5rem ;
    gap: 0.5rem;
  }
}


/* 480 */