

.SignUp .signUpForm {
    border: 1.5px solid #eee;
    border-radius: 25px;
    width: 400px;
    margin: auto;
}

.SignUp .idCheck {
    border: none;
    border-radius: 4px;
    background-color: #eee;
    width: 20%;
    height: 35px;
    color: gray;
}

.SignUp .idCheck:hover {
    background-color: #6A60A9;
    color: white;
    cursor: pointer;
}

.SignUp .inputText_check {
    margin-left: 10%;
    border: 1px solid #eee;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 0.725rem;
    width: 55%;
    height: 35px;
}

.SignUp .inputText_check:focus {
    outline: 1px solid #6A60A9;
    border-color: #6A60A9;
}

.SignUp .inputText {
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #eee;
    border-radius: 4px;
    font-size: 0.725rem;
    padding-left: 10px;
    width: 80%;
    height: 35px;
}

.SignUp .inputText:focus {
    outline: 1px solid #6A60A9;
    border-color: #6A60A9;
}

.SignUp .inputWrapper {
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 9%;
    margin-bottom: 5px;
    font-weight: 550;
    flex: 1;
    color: #737373;;

}

.SignUp .listContainer {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 0.5rem;
}

.SignUp .listContainer_pwCheck {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 0.5rem;
}

.SignUp .pwMsg {
    width: 80%;
    margin-left: 11%;
    margin-top: 0;
    margin-bottom: 2rem;
    color: red;
    text-align: left;
    font-size: 0.825rem;
    font-weight: 600;
}

.SignUp .pwMsg.success {
    color: #6A60A9;
}

.SignUp .listContainerLast {
    margin-bottom: 2rem;
}

.inputWrapper input[type="checkbox"] {
    display: none;
}

.inputWrapper input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
}

/* 체크박스 디자인 스타일 */
.inputWrapper input[type="checkbox"] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px; /* 체크박스 크기 조절 */
    height: 20px; /* 체크박스 크기 조절 */
    border: 1px solid #eee; /* 테두리 스타일 */
    background-color: white; /* 체크박스 배경 색상 */
  }
  
  /* 체크된 상태의 체크박스 디자인 스타일 */
.inputWrapper input[type="checkbox"]:checked + label::before {
    content: '\2713';
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    background-color: #6A69A9; /* 체크된 상태의 배경 색상 */
    border-color: none; /* 체크된 상태의 테두리 색상 */
    border-radius: 4px;
    color: white;
  }

 .SignUp .afterAgreeAll {
    width: 80%;
    border-bottom: 1px solid #eee;
    margin-left: 10%;
    margin-top: 1.5rem;
 }

 .SignUp .showTerms {
    display: flex;
    margin-left: auto;
    margin-right: 2rem;
    border: none;
    background-color: white;
    color: #737373;
    font-weight: 400;
    font-size: 0.875rem;
    cursor: pointer;
 }

 .SignUp .showPwd {
    position: absolute;
    right: 45px; /* 필요에 따라 오른쪽 간격 조절 */
    background-color: white;
    color: #6A60A9;
    font-weight: 550;
    font-size: 0.875rem;
    cursor: pointer;
    border: none;
    width: 3.125rem;
 }

.SignUp .TermsContainer {
    margin-bottom: 1rem;
}

 .SignUp .AgreeTerms {
    font-weight: 400;
    font-size: 14px;
    color: #737373;
 }

.SignUp .ModoSignUp {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.SignUp .SignUpBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 2.5rem;
    border: none;
    border-radius: 4px;
    background-color: #6A60A9;
    color: white;
    font-weight: 700;
    margin-bottom: 0.625rem;
    cursor: pointer;
}

.SignUp .KakaoSignUp {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.SignUp .KakaoSignUpBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 2.5rem;
    border: none;
    border-radius: 4px;
    background-color: #F7E600;
    color: #3A1D1D;
    font-size: 0.9rem;
    font-weight: 1000;
    margin-bottom: 0.625rem;
    cursor: pointer;
}

.SignUp img.kakao {
    width: 30px;
    margin-left: 0.4rem;
    margin-right: 0.5rem ;
}

.SignUp .NaverSignUp {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.SignUp .NaverSignUpBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 2.5rem;
    border: none;
    border-radius: 4px;
    background-color: #03C75A;
    color: white;
    font-size: 0.9rem;
    font-weight: 1000;
    margin-bottom: 0.625rem;
    cursor: pointer;
}

.SignUp img.naver {
    width: 30px;
    margin-right: 0.1rem;
}

.SignUp .GoogleSignUp {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.SignUp .GoogleSignUpBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 2.5rem;
    border: none;
    border-radius: 4px;
    background-color: #9c0808;
    color: white;
    font-weight: 700;
    margin-bottom: 2rem;
    cursor: pointer;
}

.SignUp img.google {
    width: 26px;
    height: 26px;
    margin-left: 0;
    margin-right: 0.1rem;
}


 

 