
.modalTermsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.contentsTitle {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #323232;
}

.contents {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
    font-size: 0.825rem;
    color: #323232;
}

.contents_ul {
    list-style: decimal;
    font-size: 0.825rem;
    margin-bottom: 1.25rem;
    
}

.contents_li {
    margin-bottom: 1.25rem;
    color: #323232;
}